In [1]:
import warnings 
warnings.filterwarnings(action="ignore")

In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats

In [3]:
df = pd.read_csv("D:/DBDA_Official10/Machine_Learning/Machine_Learning/Assignment/Datasets/Glass.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [5]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [6]:
df.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [7]:
df.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [8]:
df.corr()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
RI,1.000000,-0.191885,-0.122274,-0.407326,-0.542052,-0.289833,0.810403,-0.000386,0.143010,-0.164237
Na,-0.191885,1.000000,-0.273732,0.156794,-0.069809,-0.266087,-0.275442,0.326603,-0.241346,0.502898
Mg,-0.122274,-0.273732,1.000000,-0.481799,-0.165927,0.005396,-0.443750,-0.492262,0.083060,-0.744993
Al,-0.407326,0.156794,-0.481799,1.000000,-0.005524,0.325958,-0.259592,0.479404,-0.074402,0.598829
Si,-0.542052,-0.069809,-0.165927,-0.005524,1.000000,-0.193331,-0.208732,-0.102151,-0.094201,0.151565
K,-0.289833,-0.266087,0.005396,0.325958,-0.193331,1.000000,-0.317836,-0.042618,-0.007719,-0.010054
Ca,0.810403,-0.275442,-0.443750,-0.259592,-0.208732,-0.317836,1.000000,-0.112841,0.124968,0.000952
Ba,-0.000386,0.326603,-0.492262,0.479404,-0.102151,-0.042618,-0.112841,1.000000,-0.058692,0.575161
Fe,0.143010,-0.241346,0.083060,-0.074402,-0.094201,-0.007719,0.124968,-0.058692,1.000000,-0.188278
Type,-0.164237,0.502898,-0.744993,0.598829,0.151565,-0.010054,0.000952,0.575161,-0.188278,1.000000

In [9]:
# RI , Si , K , Ca , Fe , 
df.drop(['RI' , 'Si' , 'K' , 'Ca' , 'Fe'] , axis = 1 , inplace = True)
x = df.drop(['Type'], axis = 1)
y = df['Type']

In [10]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x,y,train_size = 0.8 , random_state = 123456)

In [11]:
def create_logistic():
    from sklearn.linear_model import LogisticRegressionCV

    model = LogisticRegressionCV()

    model.fit(x_train,y_train)

    return model

def create_naive():
    from sklearn.naive_bayes import GaussianNB

    model = GaussianNB()

    model.fit(x_train , y_train)

    return model

def create_KNN():
    from sklearn.neighbors import KNeighborsClassifier

    model = KNeighborsClassifier()

    model.fit(x_train,y_train)

    return model

def create_SVM():
    from sklearn.svm import SVC

    model = SVC()

    model.fit(x_train , y_train)

    return model

def create_Decision():
    from sklearn.tree import DecisionTreeClassifier

    model = DecisionTreeClassifier()

    model.fit(x_train , y_train)

    return model


def create_xgb_model():

    from xgboost import XGBClassifier
    # create the model
    model = XGBClassifier(n_estimators=35, max_depth=2, learning_rate=0.2)

    # train the model
    model.fit(x_train, y_train)

    return model


def create_adaboost_model():

    from sklearn.ensemble import AdaBoostClassifier
    # create the model
    model = AdaBoostClassifier(n_estimators=35, learning_rate=0.2)

    # train the model
    model.fit(x_train, y_train)

    return model


def create_catboost_model():

    from catboost import CatBoostClassifier
    # create the model
    model = CatBoostClassifier(learning_rate=0.2)

    # train the model
    model.fit(x_train, y_train)

    return model

In [15]:
models = []

models.append({"name" : "Logistic_Regression" , "model" : create_logistic()})
models.append({"name" : "GaussianNB" , "model" : create_naive()})
models.append({"name" : "KNeighborsClassifier" , "model" : create_KNN()})
models.append({"name" : "SVC" , "model" : create_SVM()})
models.append({"name" : "DecisionTreeClassifier" , "model" : create_Decision()})

In [16]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluate_model_on_train_data(model):
    y_pred = model.predict(x_train)

    accuracy = accuracy_score(y_train, y_pred)
    precision = precision_score(y_train, y_pred, average="macro")
    recall = recall_score(y_train, y_pred, average="macro")
    f1 = f1_score(y_train, y_pred, average="macro")
    return f"{accuracy:.2f}", f"{precision:.2f}", f"{recall:.2f}", f"{f1:.2f}"

In [17]:
for info in models:
    accuracy, precision, recall, f1 = evaluate_model_on_train_data(info["model"])
    info["accuracy"] = accuracy
    info["precision"] = precision
    info["recall"] = recall
    info["f1"] = f1

# print the evaluation report
df_evaluation_report_train = pd.DataFrame(models, columns=["name", "accuracy", "precision", "recall", "f1"])
df_evaluation_report_train

                     name accuracy precision recall    f1
0     Logistic_Regression     0.68      0.62   0.54  0.56
1              GaussianNB     0.40      0.38   0.43  0.31
2    KNeighborsClassifier     0.77      0.81   0.66  0.67
3                     SVC     0.52      0.28   0.34  0.27
4  DecisionTreeClassifier     1.00      1.00   1.00  1.00

In [18]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluate_model_on_train_data(model):
    y_pred = model.predict(x_train)

    accuracy = accuracy_score(y_train, y_pred)
    precision = precision_score(y_train, y_pred, average="macro")
    recall = recall_score(y_train, y_pred, average="macro")
    f1 = f1_score(y_train, y_pred, average="macro")
    return f"{accuracy:.2f}", f"{precision:.2f}", f"{recall:.2f}", f"{f1:.2f}"

for info in models:
    accuracy, precision, recall, f1 = evaluate_model_on_train_data(info["model"])
    info["accuracy"] = accuracy
    info["precision"] = precision
    info["recall"] = recall
    info["f1"] = f1

# print the evaluation report
df_evaluation_report_train = pd.DataFrame(models, columns=["name", "accuracy", "precision", "recall", "f1"])
df_evaluation_report_train

                     name accuracy precision recall    f1
0     Logistic_Regression     0.68      0.62   0.54  0.56
1              GaussianNB     0.40      0.38   0.43  0.31
2    KNeighborsClassifier     0.77      0.81   0.66  0.67
3                     SVC     0.52      0.28   0.34  0.27
4  DecisionTreeClassifier     1.00      1.00   1.00  1.00